@use '@angular/material' as mat;

$azure-blue: #007FFF;

:root {
    @include mat.button-overrides((
        filled-container-shape: '6px',
        outlined-container-shape: '6px'
    ));

  @include mat.badge-overrides((
    background-color: $azure-blue
  ));
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}